body {background: #b5afa7 url(zombieclj.png) no-repeat 23px 30px; background-size: 380px;}
.watermark {position: absolute; width: 100%; z-index: -1;}

#main {margin: 0 auto; width: 864px; position: relative;}

.timer {position: absolute; top: 34px; right: -80px; width: 80px; border-radius: 10px; background: #a49e96; height: 785px; padding-top: 3px;}

.sand {
    border-radius:8px;
    text-indent:0;
    height:22px;
    margin: 2px 5px;
    -webkit-transition: all 1000ms;
    background: #a49e96; box-shadow: none; border: 1px solid #000;
    opacity: 0.1;
}

.sand.remain {
    opacity: 1;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    border:1px solid #3866a3;
}

.sand.zombie {
    border: 1px solid #000;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63ee63), color-stop(1, #46cf46));
    opacity: 0.3;
}

.board {border: 10px solid #a49e96; border-radius: 10px; margin: 20px; background: #938d85;}

.cell {float: left; width: 200px; height: 200px; position: relative; -webkit-perspective: 800px;}
.tile {width: 100%; height: 100%; position: absolute; -webkit-transform-style: preserve-3d; -webkit-transition: -webkit-transform 350ms, opacity 350ms; -webkit-transform: rotateY(0deg)}

.back, .front {width: 100%; height: 100%; position: absolute; -webkit-backface-visibility: hidden; border: 1px solid #000;}
.back {-webkit-transform: rotateY(180deg);}

.front {background: -webkit-linear-gradient(top,  #d4d4d4 0%,#ccc 40%,#ccc 100%);}
.front:hover {background: #d2d2d2; cursor: pointer;}

.tile.revealed {-webkit-transform: rotateY(180deg)}

.tile.match {-webkit-transform: rotateY(180deg) scale(0.9, 0.9); opacity: 0.5;}

.back {background: url(zombie-tiles.jpg); background-size: 1400px;}
.back.h2 {background-position: -200px 0;}
.back.h3 {background-position: -400px 0;}
.back.h4 {background-position: -600px 0;}
.back.h5 {background-position: -800px 0;}
.back.gy {background-position: -1000px 0;}
.back.zo {background-position: -1200px 0;}
.back.fg {background-position: -1200px -200px;}

.foggy .back.h1 {background-position: 0 -200px;}
.foggy .back.h2 {background-position: -200px -200px;}
.foggy .back.h3 {background-position: -400px -200px;}
.foggy .back.h4 {background-position: -600px -200px;}
.foggy .back.h5 {background-position: -800px -200px;}
.foggy .back.gy {background-position: -1000px -200px;}

clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
